@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transform-bgr1-s1 {
    transform: rotatez(45deg) translate(6px, 1px);
  }
  .transform-bgr1-s2 {
    transform: rotatez(-45deg);
  }
  .transform-bgr1-s3 {
    width: 50%;
    transform: translate(2px, -14px) rotatez(45deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --main-bg-color: #4bbb7d;
  --main-bg-color-light: #5ec576;
  --hover-color: #4bbb7d;
  --main-white-color: #fff;
  --main-text-color: #dad7cd;
  --main-transition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-bg-color-light);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100vw;
}
